@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-link-exact-active {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
      90deg,
      #fdc70c 0.21%,
      #f9ac15 37.48%,
      #ef6a2b 60.61%,
      #ed683c 78.59%,
      #e93e3a 99.06%
    )
    1;
}

.text-duck-gradient {
  background: linear-gradient(
    180deg,
    #e93e3a 20%,
    #ed683c 35%,
    #f7941d 50%,
    #faaa16 65%,
    #fdc70c 80%,
    #fdc70c 100%
  ) !important;

  color: transparent !important;
  background-clip: text !important;
}

@font-face {
  font-family: 'Quicksand';
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: semi-bold;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

p, h2, h1, button {
  @apply text-gray-900;
  @apply dark:text-gray-50;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-gray-50;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  @apply bg-gray-600;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  @apply bg-gray-900;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}