@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-link-exact-active {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
      90deg,
      #fdc70c 0.21%,
      #f9ac15 37.48%,
      #ef6a2b 60.61%,
      #ed683c 78.59%,
      #e93e3a 99.06%
    )
    1;
}

.text-duck-gradient {
  background: linear-gradient(
    180deg,
    #e93e3a 20%,
    #ed683c 35%,
    #f7941d 50%,
    #faaa16 65%,
    #fdc70c 80%,
    #fdc70c 100%
  );

  color: transparent;
  background-clip: text;
}

@font-face {
  font-family: 'Quicksand';
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: semi-bold;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/Quicksand-Bold.ttf') format('truetype');
}
